.hole {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: auto;
  background-color: grey;
}

.mole {
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
}
